* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    background: url('/background.png') center/cover no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.quote {
    position: relative;
    text-align: center;
    margin: 10px;
}

#quote {
    font-size: 28px;  
    font-weight: bolder;
}

#music {
    position: absolute;
    left: 0;
    top: -20px;
}

p {
    margin: 10px;
    padding: 10px;
}

#artist {
    position: absolute;
    right: 0;
    bottom: -20px;
}

#repo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#repo a {
    text-decoration: none;
    color: white;
}